* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  color: rgb(255, 196, 0);
  font-size: 1.7rem;
}

.active-2 {
  color: rgb(194, 194, 194);
  font-size: 1.7rem;
}

.active-3 {
  color: rgb(0, 0, 0) !important;
  background-color: #03fbff;
  border-radius: 5px;
  padding: 5px;
}

.container-all {
  margin: 0 auto;
  max-width: 1300px;
}

/*start-header */
header {
  background-color: rgb(6, 1, 22);
  border-bottom: 1px solid white;
  margin: -10px 0;
}

.header-phone {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-phone ul {
  align-items: center;
  list-style: none;
  display: flex;
}

.header-phone ul li a {
  margin: 0 20px;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}

.header-phone ul li a:hover {
  color: #06ffff;
  transition: all ease-in-out 0.3s;
}

.header-phone ul li button b {
  color: rgb(255, 0, 0);
  background-color: white;
 border-radius: 15px;
}
.header-phone ul li #btn-table-cart{
  background: transparent;
}
/*end-header */

/*start- carousel */
.carousel-phone {
  background-color: rgb(255, 255, 255);
  padding: 20px 0;
}

.carousel-phone p {
  text-align: center;
  background-color: #0e0e0e;
  color: #ffffff;
  width: 150px;
  border-radius: 10px;
  padding: 5px;
  float: left;
  margin: 5px 10px;
  font-weight: bolder;
}

.carousel-phone p img {
  position: absolute;
  top: 170px;
  align-items: center;
  transform: translateX(60%);
}

.item-content {
  padding: 0 100px;
}

.carousel-phone span {
  position: absolute;
  bottom: 5px;
  font-weight: bold;
  color: red;
  font-size: 30px;
  text-align: center;
  transform: translate(-100%, 20%);
}
/*end- carousel */

/* start-product */
.products-top {
  background-color: #0f0f10;
  border-bottom: 1px solid rgb(102, 99, 99);
  height: 50px;
  margin-bottom: 25px;
  padding: 5px 0;
}

.nav-products {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-top span {
  margin-bottom: 10px;
  color: #ffffff;
}

.products-top span:hover {
  cursor: pointer;
  background-color: #06ffff;
  color: black;
  border-radius: 5px;
}

.item-cart span {
  background-color: rgb(204, 57, 57);
  padding: 0 5px;
  color: aliceblue;
  border-radius: 5px;
}

.select-phone {
  border-radius: 10px;
  border: none;
  width: 150px;
  margin-bottom: 12px;
  text-align: center;
  background-color: #062bff;
  color: #ffffff;
}

#key-work {
  box-shadow: rgb(204, 232, 231) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  border: none;
  border-radius: 20px;
}

#products-phone {
  background-color: #21233f;
}

#products-phone .card {
  padding: 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#products-phone h5 {
  font-weight: 100;
}

#products-phone p {
  left: 0;
  height: 70px;
  background-color: #ffffff;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  color: #000000;
  padding: 10px 10px;
  text-align: justify;
  border-radius: 15px;
}
/* end-product */

/* start-table-phone */
#giohang {
  background-color: #252629;
  border: 3px solid rgb(112, 112, 112);
  padding: 5px;
  border-radius: 8px;
  margin-top: 20px;
}
.close {  
    font-size:28px;
}

.close:hover{
    cursor:pointer;
}
#modaltable{
    position:fixed;
    /* vị trí cố định */
    z-index:1;
    /* Ưu tiên hiển thị trên cùng */
    padding-top:100px;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgb(0, 0, 0);
    background-color:rgba(0, 0, 0, 0.507);
}

#tongThanhToan {
  color: rgb(0, 0, 0);
  background-color: #03fbff;
  padding: 5px;
  border-radius: 10px;
  margin-right: 10px;
}
/* end-table-phone */

/* start-footer */
footer i {
  margin: 0 15px;
}

footer {
  background-color: #1f201f;
  color: aliceblue;
}

footer p:hover {
  color: aqua;
  transition: 0.2s;
}

footer h6:hover {
  color: rgb(255, 255, 255);
  transition: 0.2s;
}

footer:hover {
  background-color: rgb(0, 0, 9);
  transition: all ease 1s;
}

/* end-footer */