/*start-spinner */


#loading {
  position: absolute;
  background-color: #000;
  top: 0;
  height: 100vh;
  z-index: 2;
}
#circle_square {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  margin: -25px 0 0 -25px;
}

#circle_square span {
  width: 16px;
  height: 16px;
  background-color: #000;
  display: inline-block;
  background-color: #18bc9c;
  -webkit-animation: square2 2s infinite ease-in-out both;
  animation: square2 2s infinite ease-in-out both;
}

#circle_square span:nth-child(1) {
  -webkit-animation: preloader_2_1 1.5s infinite ease-in-out;
  animation: preloader_2_1 1.5s infinite ease-in-out;
}

#circle_square span:nth-child(2) {
  left: 20px;
  -webkit-animation: preloader_2_2 1.5s infinite ease-in-out;
  animation: preloader_2_2 1.5s infinite ease-in-out;
}

#circle_square span:nth-child(3) {
  top: 0px;
  -webkit-animation: preloader_2_3 1.5s infinite ease-in-out;
  animation: preloader_2_3 1.5s infinite ease-in-out;
}

#circle_square span:nth-child(4) {
  top: 0px;
  left: 20px;
  -webkit-animation: preloader_2_4 1.5s infinite ease-in-out;
  animation: preloader_2_4 1.5s infinite ease-in-out;
}

@-webkit-keyframes preloader_2_1 {
  0% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
    transform: translateX(0px) translateY(0px) rotate(0deg);
    border-radius: 0px;
  }
  50% {
    -webkit-transform: translateX(-20px) translateY(-10px) rotate(-180deg);
    transform: translateX(-20px) translateY(-10px) rotate(-180deg);
    border-radius: 50%;
    background: #3498db;
  }
  80% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(-360deg);
    transform: translateX(0px) translateY(0px) rotate(-360deg);
    border-radius: 0px;
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(-360deg);
    transform: translateX(0px) translateY(0px) rotate(-360deg);
    border-radius: 0px;
  }
}

@keyframes preloader_2_1 {
  0% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
    transform: translateX(0px) translateY(0px) rotate(0deg);
    border-radius: 0px;
  }
  50% {
    -webkit-transform: translateX(-20px) translateY(-10px) rotate(-180deg);
    transform: translateX(-20px) translateY(-10px) rotate(-180deg);
    border-radius: 50%;
    background: #3498db;
  }
  80% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(-360deg);
    transform: translateX(0px) translateY(0px) rotate(-360deg);
    border-radius: 0px;
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(-360deg);
    transform: translateX(0px) translateY(0px) rotate(-360deg);
    border-radius: 0px;
  }
}
@-webkit-keyframes preloader_2_2 {
  0% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
    transform: translateX(0px) translateY(0px) rotate(0deg);
    border-radius: 0px;
  }
  50% {
    -webkit-transform: translateX(20px) translateY(-10px) rotate(180deg);
    transform: translateX(20px) translateY(-10px) rotate(180deg);
    border-radius: 50%;
    background: #f1c40f;
  }
  80% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(360deg);
    transform: translateX(0px) translateY(0px) rotate(360deg);
    border-radius: 0px;
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(360deg);
    transform: translateX(0px) translateY(0px) rotate(360deg);
    border-radius: 0px;
  }
}
@keyframes preloader_2_2 {
  0% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
    transform: translateX(0px) translateY(0px) rotate(0deg);
    border-radius: 0px;
  }
  50% {
    -webkit-transform: translateX(20px) translateY(-10px) rotate(180deg);
    transform: translateX(20px) translateY(-10px) rotate(180deg);
    border-radius: 50%;
    background: #f1c40f;
  }
  80% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(360deg);
    transform: translateX(0px) translateY(0px) rotate(360deg);
    border-radius: 0px;
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(360deg);
    transform: translateX(0px) translateY(0px) rotate(360deg);
    border-radius: 0px;
  }
}
@-webkit-keyframes preloader_2_3 {
  0% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
    transform: translateX(0px) translateY(0px) rotate(0deg);
    border-radius: 0px;
  }
  50% {
    -webkit-transform: translateX(-20px) translateY(10px) rotate(-180deg);
    transform: translateX(-20px) translateY(10px) rotate(-180deg);
    border-radius: 50%;
    background: #2ecc71;
  }
  80% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(-360deg);
    transform: translateX(0px) translateY(0px) rotate(-360deg);
    border-radius: 0px;
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(-360deg);
    transform: translateX(0px) translateY(0px) rotate(-360deg);
    border-radius: 0px;
  }
}
@keyframes preloader_2_3 {
  0% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
    transform: translateX(0px) translateY(0px) rotate(0deg);
    border-radius: 0px;
  }
  50% {
    -webkit-transform: translateX(-20px) translateY(10px) rotate(-180deg);
    transform: translateX(-20px) translateY(10px) rotate(-180deg);
    border-radius: 50%;
    background: #2ecc71;
  }
  80% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(-360deg);
    transform: translateX(0px) translateY(0px) rotate(-360deg);
    border-radius: 0px;
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(-360deg);
    transform: translateX(0px) translateY(0px) rotate(-360deg);
    border-radius: 0px;
  }
}
@-webkit-keyframes preloader_2_4 {
  0% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
    transform: translateX(0px) translateY(0px) rotate(0deg);
    border-radius: 0px;
  }
  50% {
    -webkit-transform: translateX(20px) translateY(10px) rotate(180deg);
    transform: translateX(20px) translateY(10px) rotate(180deg);
    border-radius: 50%;
    background: #e74c3c;
  }
  80% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(360deg);
    transform: translateX(0px) translateY(0px) rotate(360deg);
    border-radius: 0px;
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(360deg);
    transform: translateX(0px) translateY(0px) rotate(360deg);
    border-radius: 0px;
  }
}
@keyframes preloader_2_4 {
  0% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
    transform: translateX(0px) translateY(0px) rotate(0deg);
    border-radius: 0px;
  }
  50% {
    -webkit-transform: translateX(20px) translateY(10px) rotate(180deg);
    transform: translateX(20px) translateY(10px) rotate(180deg);
    border-radius: 50%;
    background: #e74c3c;
  }
  80% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(360deg);
    transform: translateX(0px) translateY(0px) rotate(360deg);
    border-radius: 0px;
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(360deg);
    transform: translateX(0px) translateY(0px) rotate(360deg);
    border-radius: 0px;
  }
}
/* END-spinner */
